@model IEnumerable<StudentPlanner.BLL.Models.CourseVM>;
@{
    ViewData["Title"] = "Courses";
}
<h2>View All Courses</h2>

@* ----------------------------Courses--------------------------------------- *@
<!-- /.card -->
<div class="col-md-10">

    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title fw-bold">All Your Courses</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Course Name</th>
                        <th>Course Code</th>
                        <th>Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                    }
                    @if (!Model.Any())
                    {
                       <tr>
                            <td colspan="5" class="text-danger text-center fw-bold">No Courses!</td>
                       </tr> 
                    }
                    else
                    {
                        foreach (var courseItem in Model)
                        {
                            count++;
                            <tr class="align-middle">
                                <td>@count</td>
                                <td>@courseItem.Id</td>
                                <td>@courseItem.Name</td>
                                <td>@courseItem.Code</td>
                                <td>@courseItem.Hours</td>
                            </tr>
                        }
                    }

            
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
</div>
