@model IEnumerable<StudentPlanner.BLL.Models.AssignmentVM>
@{
    ViewData["Title"] = "Home";
}
@* ----------------------------Assignments--------------------------------------- *@
<!-- /.card -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title fw-bold">Upcomming Assignments</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Course</th>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Reminder</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                }
                @if(Model == null || !Model.Any())
                {
                    <tr>
                        <td colspan="7" class="text-danger text-center fw-bold">No Assignments!</td>
                    </tr>
                }
                else
                {
                    foreach (var Item in Model)
                    {
                        count++;
                        <tr class="align-middle">
                            <td>@count</td>
                            <td>Item.Course</td>
                            <td>@Item.Title</td>
                            <td>@Item.DueDate</td>
                            <td>3 days before</td>
                            @if (@Item.IsDone)
                            {
                                <i class="bi bi-check2-circle"></i>
                                <td>Completed</td>
                            } else
                            {
                                <i class="bi bi-hourglass-split"></i>
                                <td>Pending</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@* --------------------------Exams----------------------------------------- *@
<!-- /.card -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title fw-bold">Upcomming Exams</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Course</th>
                    <th>Due Date</th>
                    <th>Reminder</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int ExamsCount = 0;
                }
                @if (Model == null || !Model.Any())
                {
                    <tr>
                        <td colspan="5" class="text-danger text-center fw-bold">No Exams!</td>
                    </tr>
                }
                else
                {
                    foreach (var Item in Model)
                    {
                        ExamsCount++;
                        <tr class="align-middle">
                            <td>@ExamsCount</td>
                            <td>Item.Course</td>
                            @* <td>@Item.Date</td> *@
                            <td>@Item.DueDate</td>
                            <td>3 days before</td>
                            @if (@Item.IsDone)
                            {
                                <i class="bi bi-check2-circle"></i>
                                <td>Completed</td>
                            }
                            else
                            {
                                <i class="bi bi-hourglass-split"></i>
                                <td>Pending</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->