@model IEnumerable<StudentPlanner.BLL.Models.ReminderVM>
@using StudentPlanner.BLL.Models;
@using StudentPlanner.BLL.TimeHelper;

@{
    ViewData["Title"] = "Home";

    var assignments = Model?.Where(x => x.Type == ReminderType.Assignment).ToList();
    var exams = Model?.Where(x => x.Type == ReminderType.Exam).ToList();
}

@* ----------------------------Assignments--------------------------------------- *@
<!-- /.card -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title fw-bold text-success">Upcomming Assignments</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Course</th>
                    <th>Deadline</th>
                    <th>Reminder Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                }
                @if(Model == null || !Model.Any())
                {
                    <tr>
                        <td colspan="7" class="text-danger text-center fw-bold">No Assignments!</td>
                    </tr>
                }
                else
                {
                    foreach (var Item in assignments)
                    {
                        count++;
                        var reminderDate = ConvertTime.ToLibyaTime(@Item.ReminderDate);
                        var deadline = ConvertTime.ToLibyaTime(@Item.Deadline);

                        <tr class="align-middle">
                            <td>@count</td>
                            <td>@Item.Course.Name</td>
                            <td>@deadline.ToString("f")</td>
                            <td>
                                @reminderDate.ToString("f")
                            </td>
                            <td>
                                @if (@Item.IsSent)
                                {
                                    <span class="badge bg-success">Sent</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning">Pending</span>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@* --------------------------Exams----------------------------------------- *@
<!-- /.card -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title fw-bold text-danger">Upcomming Exams</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Course</th>
                    <th>Deadline</th>
                    <th>Reminder Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @if (Model == null || !Model.Any())
                {
                    <tr>
                        <td colspan="7" class="text-danger text-center fw-bold">No Assignments!</td>
                    </tr>
                }
                else
                {
                    count = 0;
                    foreach (var Item in exams)
                    {
                        count++;
                        var reminderDate = ConvertTime.ToLibyaTime(@Item.ReminderDate);
                        var deadline = ConvertTime.ToLibyaTime(@Item.Deadline);

                        <tr class="align-middle">
                            <td>@count</td>
                            <td>@Item.Course.Name</td>
                            <td>@deadline.ToString("f")</td>
                            <td>
                                @reminderDate.ToString("f")
                            </td>
                            <td>
                                @if (@Item.IsSent)
                                {
                                    <span class="badge bg-success">Sent</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning">Pending</span>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->