<<<<<<< HEAD
﻿@model IEnumerable<StudentPlanner.BLL.Models.ReminderVM>
@using StudentPlanner.BLL.Models;
@using StudentPlanner.BLL.TimeHelper;

=======
﻿@model IEnumerable<StudentPlanner.BLL.Models.AssignmentExam>
>>>>>>> 114a8fa (Created Registration Post Action)
@{
    ViewData["Title"] = "Home";

    var assignments = Model?.Where(x => x.Type == ReminderType.Assignment).ToList();
    var exams = Model?.Where(x => x.Type == ReminderType.Exam).ToList();
}

@* ----------------------------Assignments--------------------------------------- *@
<!-- /.card -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title fw-bold text-success">Upcomming Assignments</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Course</th>
<<<<<<< HEAD
                    <th>Deadline</th>
                    <th>Reminder Date</th>
                    <th>Status</th>
=======
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Reminder</th>
                    <th>Done</th>
>>>>>>> 114a8fa (Created Registration Post Action)
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                }
                @if(Model == null || !Model.Any())
                {
                    <tr>
<<<<<<< HEAD
                        <td colspan="7" class="text-danger text-center fw-bold">No Assignments!</td>
=======
                        <td colspan="6" class="text-danger text-center fw-bold">No Assignments!</td>
>>>>>>> 114a8fa (Created Registration Post Action)
                    </tr>
                }
                else
                {
<<<<<<< HEAD
                    foreach (var Item in assignments)
                    {
                        count++;
                        var reminderDate = ConvertTime.ToLibyaTime(@Item.ReminderDate);
                        var deadline = ConvertTime.ToLibyaTime(@Item.Deadline);

                        <tr class="align-middle">
                            <td>@count</td>
                            <td>@Item.Course.Name</td>
                            <td>@deadline.ToString("f")</td>
                            <td>
                                @reminderDate.ToString("f")
                            </td>
                            <td>
                                @if (@Item.IsSent)
                                {
                                    <span class="badge bg-success">Sent</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning">Pending</span>
                                }
                            </td>
=======
                    foreach (var Item in Model)
                    {
                        count++;
                        <tr class="align-middle">
                            <td>@count</td>
                            <td>Item.assign.Course</td>
                            <td>@Item.assign.Title</td>
                            <td>@Item.assign.DueDate</td>
                            <td>3 days before</td>
                            @if (@Item.assign.IsDone)
                            {
                                <i class="bi bi-check2-circle"></i>
                                <td>Completed</td>
                            } else
                            {
                                <i class="bi bi-hourglass-split"></i>
                                <td>Pending</td>
                            }
>>>>>>> 114a8fa (Created Registration Post Action)
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@* --------------------------Exams----------------------------------------- *@
<!-- /.card -->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title fw-bold text-danger">Upcomming Exams</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Course</th>
<<<<<<< HEAD
                    <th>Deadline</th>
                    <th>Reminder Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @if (Model == null || !Model.Any())
                {
                    <tr>
                        <td colspan="7" class="text-danger text-center fw-bold">No Assignments!</td>
=======
                    <th>Due Date</th>
                    <th>Reminder</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int ExamsCount = 0;
                }
                @if (Model == null || !Model.Any())
                {
                    <tr>
                        <td colspan="5" class="text-danger text-center fw-bold">No Exams!</td>
>>>>>>> 114a8fa (Created Registration Post Action)
                    </tr>
                }
                else
                {
<<<<<<< HEAD
                    count = 0;
                    foreach (var Item in exams)
                    {
                        count++;
                        var reminderDate = ConvertTime.ToLibyaTime(@Item.ReminderDate);
                        var deadline = ConvertTime.ToLibyaTime(@Item.Deadline);

                        <tr class="align-middle">
                            <td>@count</td>
                            <td>@Item.Course.Name</td>
                            <td>@deadline.ToString("f")</td>
                            <td>
                                @reminderDate.ToString("f")
                            </td>
                            <td>
                                @if (@Item.IsSent)
                                {
                                    <span class="badge bg-success">Sent</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning">Pending</span>
                                }
                            </td>
=======
                    foreach (var Item in Model)
                    {
                        ExamsCount++;
                        <tr class="align-middle">
                            <td>@ExamsCount</td>
                            <td>Item.exam.Course</td>
                            <td>@Item.exam.Date</td>
                            <td>@Item.assign.DueDate</td>
                            <td>3 days before</td>
                            @if (@Item.assign.IsDone)
                            {
                                <i class="bi bi-check2-circle"></i>
                                <td>Completed</td>
                            }
                            else
                            {
                                <i class="bi bi-hourglass-split"></i>
                                <td>Pending</td>
                            }
>>>>>>> 114a8fa (Created Registration Post Action)
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->